:root {
    --chemia: hsl(90, 45%, 55%);
    --kasze: hsl(30, 45%, 55%);
    --konserwy: hsl(200, 45%, 55%);
    --makarony: hsl(60, 45%, 55%);
    --mixso_ryby: hsl(360, 45%, 55%);
    --nabiax: hsl(180, 45%, 55%);
    --napoje: hsl(190, 45%, 55%);
    --owoce: hsl(20, 45%, 55%);
    --pieczywo: hsl(40, 45%, 55%);
    --przybory: hsl(230, 45%, 55%);
    --przyprawy: hsl(140, 45%, 55%);
    --sypkie: hsl(245, 45%, 55%);
    --sxodycze: hsl(310, 45%, 55%);
    --uxywki: hsl(350, 45%, 55%);
    --warzywa: hsl(100, 45%, 55%);
}
body {
    font-size: 16px;
    background-color: #ccc;
}
.list {
    margin: 10px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
}
.list p {
    margin: 5px 0px;
}
.list span {
    display: inline;
    font-weight: bold;
}
.list span:not(:first-child) {
    margin-left: 15px
}
.list hr {
    border: 1px solid #000;
    width: 100%;
    margin: 10px 0 30px;
}
.category {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.category span {
    font-weight: bold;
    margin: 5px 0px;
    padding: 2px 5px;
}
.product {
    margin: 5px;
    padding: 2px 5px;
    border-radius: 5px;
    color: #000;
    cursor: pointer;
}
div.chemia {
    background-color: var(--chemia);
}
.list span.chemia {
    color: var(--chemia);
}
div.pieczywo {
    background-color: var(--pieczywo);
}
.list span.pieczywo {
    color: var(--pieczywo);
}
div.nabiax {
    background-color: var(--nabiax);
}
.list span.nabiax {
    color: var(--nabiax);
}
div.napoje {
    background-color: var(--napoje);
}
.list span.napoje {
    color: var(--napoje);
}
div.uxywki {
    background-color: var(--uxywki);
}
.list span.uxywki {
    color: var(--uxywki);
}
div.sxodycze {
    background-color: var(--sxodycze);
}
.list span.sxodycze {
    color: var(--sxodycze);
}
div.kasze {
    background-color: var(--kasze);
}
.list span.kasze {
    color: var(--kasze);
}
div.sypkie {
    background-color: var(--sypkie);
}
.list span.sypkie {
    color: var(--sypkie);
}
div.przyprawy {
    background-color: var(--przyprawy);
}
.list span.przyprawy {
    color: var(--przyprawy);
}
div.makarony {
    background-color: var(--makarony);
}
.list span.makarony {
    color: var(--makarony);
}
div.mixso_ryby {
    background-color: var(--mixso_ryby);
}
.list span.mixso_ryby {
    color: var(--mixso_ryby);
}
div.owoce {
    background-color: var(--owoce);
}
.list span.owoce {
    color: var(--owoce);
}
div.warzywa {
    background-color: var(--warzywa);
}
.list span.warzywa {
    color: var(--warzywa);
}
div.konserwy {
    background-color: var(--konserwy);
}
.list span.konserwy {
    color: var(--konserwy);
}
div.przybory {
    background-color: var(--przybory);
}
.list span.przybory {
    color: var(--przybory);
}
/* .theRest div {
    opacity: .75;
} */
.toBuy,
.theRest {
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
}

@media only screen and (max-width: 960px) {
    body {
        font-size: 14px;
    }
}