.list {
    margin: 10px;
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
}
.list p {
    margin: 5px 0px;
}
.list .categoryName {
    display: inline;
    font-weight: bold;
    margin: 5px 5px 5px 25px;
    padding: 1px 5px 1px 5px;
    text-transform: uppercase;
    cursor: pointer;
}
.list .categoryName:first-of-type {
    margin-left: 5px;
}
.list hr {
    border: 1px solid #000;
    width: 100%;
    margin: 10px 0 30px;
}
.category {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.product {
    margin: 5px;
    padding: 2px 5px;
    border-radius: 5px;
    color: #000;
    cursor: pointer;
}
.toBuy,
.theRest {
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
}
.addNewCategoryRow {
    display: flex;
    justify-content: flex-end;
    width: 98%;
}
.addNewCategory {
    display: block;
    margin: 15px 0px;
    font-size: 18px;
    font-weight: bold;
    padding: 5px 20px 10px 20px;
    border-radius: 5px;
    background-color: #3a3;
    line-height: 18px;
    color: #fff;
    cursor: pointer;
}
.addNewCategory span {
    font-size: 24px;
    line-height: 18px;
}
@media only screen and (max-width: 960px) {
    body {
        font-size: 14px;
    }
}



