.TopMenu {
    position: fixed;
    top: 0px;
    right: 0px;
}
.TopMenu div {
    background-color: #aaa;
    border-radius: 0px 0px 0px 5px;
    display: inline-block;
    font-size: 16px;
    line-height: 32px ;
    height: 32px;
    padding: 0px 10px;
    margin: 0px 5px 0px 0px;
    cursor: pointer;
}
.TopMenu div.true {
    color: #999;
    cursor: default;
    pointer-events: none;
}