body {
  background-color: #fff;
}
.row {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}
.colorSwatch {
  box-sizing: border-box;
  display: inline-block;
  width: 24px;
  height: 24px;
  margin: 3px;
}
.chosenHue {
  border: 3px solid #000;
}
.mt-5 {
  margin-top: 25px;
}

@mixin grid-generator($grid-columns) {
  @for $i from 1 through $grid-columns {
    .col-#{$i} {
      width: percentage($i / $grid-columns);
    }
  }
}
@include grid-generator(12);

@mixin headers-generator() {
  @for $i from 1 through 6 {
    h#{$i} {
      font-size: 22 - $i * 2px;
      margin-top: 36 - $i *2px;
      margin-bottom: 10px;
    }
  }
}
@include headers-generator();

@mixin colorClasses() {
  @for $i from 0 through 36 {
    input.hue-#{$i*10},
    .colorSwatch.hue-#{$i*10},
    .product.hue-#{$i*10} {
      background-color: hsl($i*10 , 45%, 55%);
    }
    .categoryName.hue-#{$i*10} {
      color: hsl($i*10, 45%, 55%);
      border-top: 2px solid hsl($i*10, 45%, 55%);
      border-bottom: 2px solid hsl($i*10, 45%, 55%);
    }
  }
}
@include colorClasses();